<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>
                Find your best food
            </h2>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, a.
                    <hr>
                </div>
                <div class="col-md-4">
                    Suscipit, quo? Commodi dolores harum, aliquid impedit neque fugiat quam?
                    <hr>
                </div>
                <div class="col-md-4">
                    Accusamus facere corrupti sint a labore hic pariatur assumenda fuga?
                    <hr>
                </div>
                <div class="col-md-4">
                    Molestiae officia quaerat illo maiores, beatae doloremque delectus eum officiis!
                    <hr>
                </div>
                <div class="col-md-4">
                    Quibusdam ullam officia beatae similique asperiores, a dolor optio voluptates.
                    <hr>
                </div>
                <div class="col-md-4">
                    Minus eum enim ullam eos numquam atque ipsum laudantium soluta.
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>