<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Menu</h2>
    </div>
    <div class="col-md-12 text-center">
        Lorem ipsum dolor sit amet consectetur.
    </div>
    <div class="col-md-12">
        <div *ngFor="let product of productsList">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{product.image}}" alt="">
                </div>
                <div class="col-md-7">
                    <h3>{{product.name}}</h3>
                    <p>
                        {{product.decription}}
                    </p>
                </div>
                <div class="col">
                    {{product.price}}$
                </div>
            </div>

        </div>
    </div>
</div>